 <div class="container" id="cover-container">
    <div class="row">
        <div class="col-md-5">
            <h1>Voor Amsterdammers door Amsterdammers
            </h1>
            <p class="lead mt-4">
                Bied persoonlijke hulp aan de Amsterdammers <br>
                die het nodig hebben
            </p>
            <button type="button" class="btn btn-outline-success btn-lg"
                id="cover-button">Bekijk alle vacatures</button>
        </div>
        <div class="col-md-6 ms-auto">
            <img src="/assets/images/homepage_cover.jpg"
                id="cover-image">
        </div>
    </div>
</div>
<div class="p-5 bg-light" id="jumbotron">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-6" id="carousel">
                <div id="carouselId" class="carousel slide"
                    data-bs-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img
                                src="/assets/images/caretaker.jpg"
                                id="carousel-img"
                                class="w-100 d-block" alt="First slide">
                            <div class="carousel-caption ">
                                <h3>Verpleegkundige</h3>
                                <h6>24 - 28 uur</h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img
                                src="/assets/images/cleaner.jpg"
                                id="carousel-img"
                                class="w-100 d-block" alt="Second slide">
                            <div class="carousel-caption ">
                                <h3>Schoonmaak assistent</h3>
                                <h6>32 - 40 uur</h6>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img
                                src="/assets/images/intern.jpg"
                                id="carousel-img"
                                class="w-100 d-block" alt="Third slide">
                            <div class="carousel-caption ">
                                <h3>Stagiar BOL</h3>
                                <h6>16 - 24 uur</h6>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button"
                            data-bs-target="#carouselId" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button"
                            data-bs-target="#carouselId" data-bs-slide="next">
                            <span class="carousel-control-next-icon"
                                aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h1 id="mobile-job-text">Actuele vacatures</h1>
                <p id="cover-text" class="col-md-8">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    ultrices viverra commodo. Class aptent taciti sociosqu ad
                    litora torquent per conubia nostra, per inceptos himenaeos.
                    Donec laoreet nisl congue pharetra aliquam. Ut rutrum,
                    sapien tincidunt pretium scelerisque, ligula est egestas
                    urna, sed hendrerit orci sapien tincidunt quam.</p>
            </div>
        </div>
    </div>
</div>
<div class="p-5 mb-4">
    <div class="container-fluid py-5 ">
        <div class="row justify-content-center align-items-center g-2">
            <div class="col-md-6">
                <h1>Voel je bij ons thuis</h1>
                <p id="cover-text" class="col-md-8 2">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
                    ultrices viverra commodo. Class aptent taciti sociosqu ad
                    litora torquent per conubia nostra, per inceptos himenaeos.
                    Donec laoreet nisl congue pharetra aliquam. Ut rutrum,
                    sapien tincidunt pretium scelerisque, ligula est egestas
                    urna, sed hendrerit orci sapien tincidunt quam.</p></div>
            <div class="col-md-6">
                <img src="/assets/images/video_placeholder.png"
                    id="cover-image">
            </div>
        </div>
    </div>
</div>